@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=Mulish:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50vh;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    left: 15%;
    top: 40%;
}

.banner h1 {
    color:  #FFFFFF;
    font-size: 3.5rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 200;
    text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: "Josefin Slab", serif;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem rgba(0,0,0,.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: "Muli", serif;
    color: #FFFFFF;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}