@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=Mulish:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

.hamburger {
    height: 2rem;
    width: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.line {
    width: 100%;
    background-color: #fff;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 2px #000;
    transition: transform 1s;
}
/* Animação menu hamburguer virar X quando abrir menu */
.show-menu #line1 {
    transform: rotate(45deg) translate(.40rem, .44rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(.40rem, -.44rem);
}
/* Posição do hamburguer quando menu estiver aberto */
.show-menu .hamburger {
    right: 16rem;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -5;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    left: 15%;
    top: 40%;
}

.banner h1 {
    color:  #FFFFFF;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem rgba(0,0,0,.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #FFFFFF;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color: white;
    right: -20rem;
    top: 0;
    transition: all 1s;
}

/* classe aplicada para mostrar ou ocultar o menu lateral */
.show-menu  .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color .9s;
}

.menu-link:hover {
    color: blueviolet;
}

.social-media {
    
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
}

.social-media i {
    color: rgb(73, 73, 73);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}

/* SESSAO CONHECIMENTOS */
.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 2rem;
}
.conhecimento:nth-child(1) {
    grid-column: 4/7;
    grid-row: 1/3;
}

.conhecimento:nth-child(2) {
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3) {
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4) {
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5) {
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6) {
    grid-column: 11/14;
    grid-row: 5/-1;
}

.sessao-conhecimentos {
    background-color: #f5f5f5;
    
}

.sessao-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}
.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper {
    display: flex;
    align-items: center;
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;    
}



