@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=Mulish:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=Mulish:ital,wght@0,300;0,500;1,200;1,300&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
  --font-game: "Press Start 2P", serif;

  --color-primary: #555;
}

.container {
  width: 100vw;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.img-wrapper {
  z-index: -8;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  animation: zoom 25s;
}

/* @keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */

.banner {
  position: absolute;
  left: 15%;
  top: 50%;
}

.banner h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;

  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 3rem;
  }
}

.banner p {
  font-family: var(--font-secundary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

@media only screen and (max-width: 600px) {
  .banner p {
    font-size: 1.375rem;
  }
}

.banner button {
  z-index: 999999;
  font-family: var(--font-action);
  color: #ffffff;
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem 3rem;
  border: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

@media only screen and (max-width: 600px) {
  .banner button {
    padding: 0.8rem 2rem;
    font-size: 12px;
  }
}

.banner button:hover {
  background: linear-gradient(to right, #bf00d8, #6f00dd);
}
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/* SESSAO CONHECIMENTOS */

.wrapper-conhecimentos {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.conhecimentos-mobile {
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 980px;
}

.skill-title {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  line-height: 100%;
  color: #555;
  margin-top: 15px;
  margin-bottom: 5px;
}

.skill {
  height: 12px;
  background-color: #dadada;
  border-radius: 10px;
}

.skill .html {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 45%;
  height: 100%;
  background-color: green;
}

.skill .css {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60%;
  height: 100%;
  background-color: green;
}

.skill .js {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 33%;
  height: 100%;
  background-color: green;
}

.skill .kanban {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 90%;
  height: 100%;
  background-color: green;
}

.skill .react {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 10%;
  height: 100%;
  background-color: green;
}
.skill .react-hooks {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 22%;
  height: 100%;
  background-color: green;
}


.skill .git {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
  height: 100%;
  background-color: green;
}

.skill .github {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 75%;
  height: 100%;
  background-color: green;
}

.skill .mysql {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 65%;
  height: 100%;
  background-color: green;
}

.skill .logica {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 90%;
  height: 100%;
  background-color: green;
}

@media only screen and (min-width: 600px) {
  .conhecimentos-mobile h5 {
    font-size: 30px;
    margin-top: 20px;
  }
}

.sessao-conhecimentos {
  background-color: #f5f5f5;
}

.sessao-header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 55;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .sessao-conhecimentos .sessao-header h1 {
    font-size: 35px;
  }
}

.sessao-projetos {
  padding: 15px;
  padding-bottom: 60px;
}

.sessao-projetos .sessao-header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .sessao-projetos .sessao-header h1 {
    font-size: 35px;
  }
}

.wrapper-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-projetos {
  max-width: 980px;
  po
}

.card-title {
  width: 100%;
  font-size: 2.2rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 10px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c7c7c7;
  border-radius: 7px;
  padding: 25px;
 
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.card-content {
  display: flex;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .card-content {
    flex-direction: column;
  }
}

.card-logo {
  width: 300px;
  height: 200px;
}

.card-logo img {
  border-radius: 7px;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  font-family: var(--font-game);
  font-size: 1.5rem;
  color: var(--color-primary);
  width: 100%;
  margin-bottom: 1.5rem;
}

.card-info {
  padding: 25px;
  padding-top: 0px;
}

@media only screen and (max-width: 600px) {
  .card-info {
    padding-left: 0px;
    padding-top: 16px;
  }
}

.card-info p {
  font-family: var(--font-primary);
}

.card-info a {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-info button {
  font-family: var(--font-action);
  color: #ffffff;
  background-color: #0073e6;
  border: none;
  font-size: 12;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 130px;
}

.card-info button:hover {
  background-color: #0063c5;
}

@media only screen and (max-width: 600px) {
  .card-info #btn-ver-projeto button {
    font-size: 12px;
  }
}

footer {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
}

.card-proj {
  border-radius: 7px;
  position: relative;
  max-width: 450px;
  max-height: 300px;
}

.card-proj img {
  border-radius: 7px;
  /* object-fit: fill; */
  width: 100%;
  height: auto;
}

.card-proj:hover {
  opacity: 0.7;
}

.card-content-proj {
  padding: 25px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

.card-content-proj .card-proj-title h3 {
  font-family: var(--font-primary);
  color: white;
}

.card-content-proj p {
  font-family: var(--font-primary);
  color: white;
}
.card-btn-rodape {
 display: flex;
 justify-content: end;
}

.card-btn-rodape button {
  font-family: var(--font-action);
  color: #ffffff;
  background-color: #0073e6;
  border: none;
  font-size: 12;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 130px;
}
